@import "tailwindcss";

@theme {
  --color-light-blue-50: #f0f9ff;
  --color-light-blue-100: #e0f2fe;
  --color-light-blue-200: #bae6fd;
  --color-light-blue-300: #7dd3fc;
  --color-light-blue-400: #38bdf8;
  --color-light-blue-500: #0ea5e9;
}
